{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["prettier"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "lines-between-class-members": [0],
        "class-methods-use-this": [0],
        "import/extensions": [0],
        "strict": [0, "global"]
    }
}
